@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Diphylleia&family=Meddon&family=Petit+Formal+Script&family=Slackside+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Diphylleia&family=Meddon&family=Montserrat+Alternates:wght@500&family=Petit+Formal+Script&family=Slackside+One&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}

main {
	width: 100%;
	min-height: 100vh;
	background: #eee;
	overflow: hidden;
}

header {
	margin-bottom: 20px;
	text-align: center;
}

header h1 {
	font-size: 80px;
	font-family: 'Meddon', cursive;
	color: #222;
	margin-top: 70px;
	margin-left: center;
}

.navs {
	width: 100%;
}

.navs li {
	display: inline-block;
	margin-right: 20px;
}

.navs li a {
	display: block;
	font: bold 15px;
	font-family: 'Montserrat Alternates', sans-serif;
	color: #555;
	padding: 5px 30px;
	margin-top: 0px;
	transition: all 0.5s;
}

.navs li a:hover {
	color: #a459d1;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 650px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 15px 5px 30px #cacaca;
	padding: 30px;
	margin: 30px auto;
}
